body {
  min-width: 960px;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  height: 48px;
  width: 48px;
  border: 1px solid black;
}

.filled-square {
  background-color: blue;
}

.btn {
  display: block;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}
